.container
{
    width: 95%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (min-width:768px)
    {
        width: 97%;
    }
    @media (min-width: 768px) {
        height: 500px;    
        width: 98.5%;
    }
    
    & > .left-button-wrapper
    {
        max-width: 30px;
        min-width: 30px;
        @media (min-width: 768px) {
            max-width: 50px;
            min-width: 50px;
        }
        & > .left-button{
        max-width: 30px;
        min-width: 30px;
        @media (min-width: 768px) {
            max-width: 50px;
            min-width: 50px;
        }

    }
    }
    & > .right-button-wrapper
    {
         max-width: 30px;
        min-width: 30px;
        @media (min-width: 768px) {
            max-width: 50px;
            min-width: 50px;
        }
        & > .right-button{
            max-width: 30px;
            min-width: 30px;
            @media (min-width: 768px) {
                max-width: 50px;
                min-width: 50px;
            }
        }
    }
}