.container
{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    & > .top-side
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        gap: 15px;
        & > .images
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            & >.image
            {
                height: 200px;
                width: 100%;
            }
        }
        & > .details
        {
            height: 100%;
            width: 100%;
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: #F5F5F5;
            gap: 10px;
            & > .pname
            {
                padding: 0px 5px;

            }
            & > .desc
            {
                padding: 0 5px;
            }
    
            & > .buycard
            {
                padding: 0 5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                & > .iconbtns
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
            }
            & > .price
            {
                width: 100%;
                display: flex;
                padding: 10px 5px;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 2px;
            }
            & > .detail-top
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 5px;
                background-color: #85C62B;
                
                & > ul
                {
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    gap: 3px;
                    & > li 
                    {
                        & > .icon
                        {
                            width: 7px;
                            color: rgba(233, 54, 40, .4);
                        }
                        & > .checked
                        {
                            color:#ff0000
                        }
                    }
                }


            }
        }
    }
}